/ToDo/TodoWebApplication/nbproject/private/
/ToDo/TodoWebApplication/build/
/projekt/ToDoWebApplication/nbproject/private/
/projekt/ToDoWebApplication/build/
/projekt/ToDoWebApplication/dist/
/projekt/ToDoApp/nbproject/private/
/projekt/ToDoApp/build/
/projekt/ToDoApp/dist/
/projekt/TDApp/nbproject/private/
/projekt/TDApp/build/